<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Teclado Virtual</title>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
   <link href="~/css/cupom.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="~/js/cupom.js" asp-append-version="true"></script>
</body>
</html>