<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="imagex/png" href="~/image/logo-reduzido-icon.png">

    <title>Carregando</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/loginadm.css">
</head>
<body>
    @RenderBody()
</body>
</html>