<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="imagex/png" href="~/image/logo-reduzido-icon.png">
  <title>Gerenciar Ingredientes - Totem</title>
  <link href="~/css/crud-ingredientes.css" rel="stylesheet">
</head>
<body>

        <main class="main-content">
            @RenderBody()
            @RenderSection("Scripts", false)
        </main>

    </div>

    <script src="~/js/crud-ingredientes.js" asp-append-version="true"></script>
</body>
</html>