<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ADS Burguer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/itensPedidos.css" />
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
