<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="~/image/logo-reduzido-icon.png">
    <title>ADS Burguer</title>
    <link rel="stylesheet" href="~/css/pedidos.css">
</head>
<body>
    
    @RenderBody()

    ...

    @RenderSection("Scripts", required: false)
</body>
</html>
