<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="~/image/logo-reduzido-icon.png">
    <title>Menu</title>
    <link rel="stylesheet" href="~/css/opcoes.css">
</head>
<body>
    @RenderBody()
</body>
</html>