@{
    Layout = "_Carregamento";
}
    <div class="fundo">
        <img src="~/image/logo_dsburguer.png" alt="ADS Burguer" class="logo">
        <p class="mensagem">Aguarde enquanto<br>preparamos tudo para você!</p>
        <div class="faixa-laranja"></div>
        <div class="faixa-verde"></div>
    </div>

