@{
    Layout = "_WelcomeLayout";
}



<div class="container">
        <header>
            <div>
               <img class="logo" src="~/image/logo_dsburguer.png">
            </div>
        </header>
        <div class="triangle"></div>
        <div class="triangle-green"></div>
        <main>
            <h2>faça seu pedido!</h2>
            <div class="food-images">
                <img src="hamburguer.png" alt="Hamburguer">
                <img src="batata.png" alt="Batata Frita">
                <img src="coca.png" alt="Coca-Cola">
                <img src="sorvete.png" alt="Sorvete">
                <img src="sucos.png" alt="Sucos">
            </div>
            <button class="order-btn">Peça aqui</button>
        </main>
</div>