@{
    Layout = "_WelcomeLayout";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEM-VINDO(A)</title>
    <link rel="stylesheet" href="./css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="index1">
    <div class="container">
        <div class="shape1"></div>
        <div class="shape2"></div>
    </div>

    <!-- Novo container para centralizar a logo e o botão -->
    <div class="content">
        <img class="logo" src="./image/logo_dsburguer.png" alt="Logo">
        <p class="texto">Faça seu pedido!</p>
        <img class="comidas" src="./image/comidinhas.png" alt="comidas">
       <button class="order-btn" onclick="window.location.href='/Home/telaNome'">Peça aqui</button>
    </div>
</body>
</html>
