@{
    Layout = "_WelcomeLayout";
}

    <div class="container">
        <div class="shape1"></div>
        <div class="shape2"></div>
    </div>

    <!-- Novo container para centralizar a logo e o botão -->
    <div class="content">
        <img class="logo" src="./image/logo_dsburguer.png" alt="Logo">
        <p class="texto">Faça seu pedido!</p>
        <img class="comidas" src="./image/comidinhas.png" alt="comidas">
       <button class="order-btn" onclick="window.location.href='/Home/telaNome'">Peça aqui</button>
    </div>

