@{
    Layout = "_CupomLayout";
}
<button class="btn-cupom" id="btnCupom">Abrir Modal de Cupom</button>

    <!-- Container para notificações -->
    <div class="notification-container" id="notificationContainer"></div>

    <!-- Modal Overlay -->
    <div class="modal-overlay" id="modalOverlay">
        <div class="popup">
            <button class="close-btn" id="closeModal">×</button>
            <h2>DIGITE SEU CUPOM</h2>
            <input type="text" id="input" readonly />
            <small>*sujeito a invalidez ou expiração</small>
            <button class="confirmar">Confirmar</button>

            <div class="keyboard-container">
                <div class="keyboard-row" id="row1"></div>
                <div class="keyboard-row" id="row2"></div>
                <div class="keyboard-row middle-offset" id="row3"></div>
                <div class="keyboard-row" id="row4"></div>
                <div class="keyboard-row" id="row5"></div>
            </div>
        </div>
    </div>
  

