@{
    Layout = "_LayoutPagamentos";
}

<header class="logo-banner">
    <img src="/image/img-pagamento.png" alt="Banner Pagamento" class="banner">
    <img src="/image/logo2.png" alt="Logo" class="logo-pagamento">
</header>

<main>
    <div class="pagamento-container">
        <div class="topo">
            <p class="preco-texto">Preço: <span class="preco">R$: 83,80</span></p>
        </div>

        <h2>Escolha a forma de pagamento:</h2>

        <div class="formas">
            <div class="forma selecionado">
                <img src="/image/opc_cartao.png" alt="Cartão">
            </div>
            <div class="forma">
                <img src="/image/opc_pix.png" alt="Pix">
            </div>
            <div class="forma">
                <img src="/image/opc_carteiradigital.png" alt="Digital">
            </div>
            <div class="forma">
                <img src="/image/opc_Qrcode.png" alt="QR Code">
            </div>
            <div class="forma">
                <img src="/image/opc_googlePay.png" alt="Google Pay">
            </div>
            <div class="forma">
                <img src="/image/opc_applePay.png" alt="Apple Pay">
            </div>
        </div>

        <button class="confirmar">Confirmar</button>
    </div>

    <script>
    document.querySelectorAll('.forma').forEach(item => {
        item.addEventListener('click', () => {
            document.querySelectorAll('.forma').forEach(f => f.classList.remove('selecionado'));
            item.classList.add('selecionado');
        });
    });
</script>

</main>
