@{
    Layout = "_LayoutPagamentos";
}

<header class="logo-banner">
    <img src="/image/img-pagamento.png" alt="Banner Pagamento" class="banner">
    <img src="/image/logo2.png" alt="Logo" class="logo-pagamento">
</header>

<main>
    <div class="pagamento-container">
        <div class="topo">
            <p class="preco-texto">Preço: <span class="preco">R$: 83,80</span></p>
        </div>

        <h2>Escolha a forma de pagamento:</h2>

        <div class="formas">
            <div class="forma">
                <img src="/image/opc_cartao.png" alt="Cartão">
                <span>Cartão</span>
            </div>
            <div class="forma">
                <img src="/image/opc_pix.png" alt="Pix">
                <span>PIX</span>
            </div>
            <div class="forma">
                <img src="/image/opc_carteiradigital.png" alt="Digital">
                <span>Carteira Digital</span>
            </div>
            <div class="forma">
                <img src="/image/opc_Qrcode.png" alt="QR Code">
                <span>QR Code</span>
            </div>
            <div class="forma">
                <img src="/image/opc_googlePay.png" alt="Google Pay">
                <span>Google Pay</span>
            </div>
            <div class="forma">
                <img src="/image/opc_applePay.png" alt="Apple Pay">
                <span>Apple Pay</span>
            </div>
        </div>

        <button class="confirmar">Confirmar</button>
    </div>

    <div id="popup-alerta" class="popup">
        <div class="popup-conteudo">
            <p>Por favor, selecione uma forma de pagamento.</p>
            <button id="fechar-popup">Fechar</button>
        </div>
    </div>

    <script>
        const formas = document.querySelectorAll('.forma');
        const confirmarBtn = document.querySelector('.confirmar');

        formas.forEach(item => {
            item.addEventListener('click', () => {
                formas.forEach(f => f.classList.remove('selecionado'));
                item.classList.add('selecionado');
            });
        });

        confirmarBtn.addEventListener('click', () => {
            const selecionado = document.querySelector('.forma.selecionado img');

            if (!selecionado) {
                document.getElementById('popup-alerta').style.display = 'flex';
                return;
            }
            

            const alt = selecionado.getAttribute('alt');

            switch (alt) {
                case 'Cartão':
                    window.location.href = '/home/PagamentosCartao';
                    break;
                case 'Pix':
                    window.location.href = '/home/Pix';
                    break;
                case 'Digital':
                    window.location.href = '/home/CarteiraDigital';
                    break;
                case 'QR Code':
                    window.location.href = '/home/QRCode';
                    break;
                case 'Google Pay':
                    window.location.href = '/home/Gpay';
                    break;
                case 'Apple Pay':
                    window.location.href = '/home/Applepay';
                    break;
                default:
                    alert('Erro ao redirecionar. Tente novamente.');
                    break;
            }
        });

        document.getElementById('fechar-popup').addEventListener('click', () => {
        document.getElementById('popup-alerta').style.display = 'none';
    });

    </script>
</main>

@{
    Layout = "_LayoutPagamentos";
}

<header class="logo-banner">
    <img src="/image/img-pagamento.png" alt="Banner Pagamento" class="banner">
    <img src="/image/logo2.png" alt="Logo" class="logo-pagamento">
</header>

<main>
    <div class="pagamento-container">
        <div class="topo">
            <p class="preco-texto">Preço: <span class="preco">R$: 83,80</span></p>
        </div>

        <h2>Escolha a forma de pagamento:</h2>

        <div class="formas">
            <div class="forma">
                <img src="/image/opc_cartao.png" alt="Cartão" >
                <span>Cartão</span>
            </div>
            <div class="forma">
                <img src="/image/opc_pix.png" alt="Pix">
                <span>PIX</span>
            </div>
            <div class="forma">
                <img src="/image/opc_carteiradigital.png" alt="Digital">
                <span>Carteira Digital</span>
            </div>
            <div class="forma">
                <img src="/image/opc_Qrcode.png" alt="QR Code">
                <span>QR Code</span>
            </div>
            <div class="forma">
                <img src="/image/opc_googlePay.png" alt="Google Pay">
                <span>Google Pay</span>
            </div>
            <div class="forma">
                <img src="/image/opc_applePay.png" alt="Apple Pay">
                <span>Apple Pay</span>
            </div>
        </div>

        <button class="confirmar">Confirmar</button>
    </div>

    <div id="popup-alerta" class="popup">
        <div class="popup-conteudo">
            <p>Por favor, selecione uma forma de pagamento.</p>
            <button id="fechar-popup">Fechar</button>
        </div>
    </div>

    <script>
        const formas = document.querySelectorAll('.forma');
        const confirmarBtn = document.querySelector('.confirmar');

        formas.forEach(item => {
            item.addEventListener('click', () => {
                formas.forEach(f => f.classList.remove('selecionado'));
                item.classList.add('selecionado');
            });
        });

        confirmarBtn.addEventListener('click', () => {
            const selecionado = document.querySelector('.forma.selecionado img');

            if (!selecionado) {
                document.getElementById('popup-alerta').style.display = 'flex';
                return;
            }
            

            const alt = selecionado.getAttribute('alt');

            switch (alt) {
                case 'Cartão':
                    window.location.href = '/home/PagamentosCartao';
                    break;
                case 'Cartão':
                    window.location.href = '/home/pagamentosCartaoFinal';
                    break;
                case 'Pix':
                    window.location.href = '/home/PagamentosPix';
                    break;
                case 'Digital':
                    window.location.href = '/home/PagamentosDigital';
                    break;
                case 'QR Code':
                    window.location.href = '/home/PagamentosQRCode';
                    break;
                case 'Google Pay':
                    window.location.href = '/home/PagamentosGoogle';
                    break;
                case 'Apple Pay':
                    window.location.href = '/home/PagamentosApple';
                    break;
                default:
                    alert('Erro ao redirecionar. Tente novamente.');
                    break;
            }
        });

        document.getElementById('fechar-popup').addEventListener('click', () => {
        document.getElementById('popup-alerta').style.display = 'none';
    });

    </script>
</main>