@{
    Layout = "_LayoutCartaoFinal";
}

  <div class="container">
        <header class="topo">
            <img src="/image/Logo2.png" alt="Logo" class="logo" />
            <div class="/imagem-topo"></div>
        </header>

        <main class="conteudo">
            <p class="instrucoes">
                Por favor, insira seu cartão na máquina<br />
                para efetuar o pagamento
            </p>
            <p class="aviso">* seu pedido aparecerá com o nome informado</p>

            <section class="secao-cartao">
                <div class="cartao-info">
                    <img src="/image/opc_cartao.png" alt="Ícone Cartão" />
                    <p>Cartão</p>
                </div>
                <div class="forma-pagamento">
                    <h2>Forma de pagamento</h2>
                    <div class="botoes-pagamento">
                        <button class="botao ativo">Crédito</button>
                        <button class="botao">Débito</button>
                    </div>
                </div>
            </section>

            <section class="produtos">
                <h3>Seus Produtos:</h3>
                <div class="item">
                    <span>Lanches 2 x</span><span class="valor-item">R$: 73,80</span>
                </div>
                <div class="item">
                    <span>Bebidas 1 x</span><span class="valor-item">R$: 10,00</span>
                </div>
                <div class="item">
                    <span>Descontos:</span><span class="desconto">R$: -09,52</span>
                </div>
            </section>

            <div class="total-container">
                <span>Total:</span><span class="valor-total">R$: 74,28</span>
            </div>
        </main>
    </div>