@{
    Layout = "_LayoutQrcodeFinal";
}

<div class="container">
        <header class="logo-banner">
            <img src="/image/banners/img-pagamento.png" alt="Banner Pagamento" class="banner">
            <img src="/image/logos/logo2.png" alt="Logo" class="logo-pagamento">
        </header>

        <main>
            <h2>Por favor, aponte seu celular no Qrcode para efetuar o pagamento</h2>
            <p class="obs"> * Seu pedido aparecerá com o nome informado </p>

            <div class="formas">
                <div class="forma selecionado">
                    <img src="/image/pagamento/opc_Qrcode.png" alt="Ícone QR Code">
                    <p>QR Code</p> 
                </div>
                <div class="caixa">
                    <img src="/image/pagamento/Qrcode pagar.png" alt="QR Code para pagamento">
                </div>
            </div>

            <div class="produtos">
                <div class="produtos-texto">
                    <strong>Seus Produtos:</strong>
                    <div class="item">
                        <span>Lanches 2 x</span><span>R$: 73,80</span>
                    </div>
                    <div class="item">
                        <span>Bebidas 1 x</span><span>R$: 10,00</span>
                    </div>
                    <div class="item">
                        <span>Descontos:</span><span class="desconto">R$: -09,52</span>
                    </div>
                </div>
            </div>
            
            <div class="total-container">
                <span>Total:</span><span class="valor-total">R$: 74,28</span>
            </div>

            </main>
    </div>