@{
    Layout = "_TipoPedidoLayout";
}
<div class="fundo">
    <img src="@Url.Content("~/image/logo-reduzido.png")" alt="ADS Burguer" class="logo">

   <form asp-action="telaOpcoes" asp-controller="Home" class="formulario-opcoes">
        <label class="titulo">Selecione uma opção:</label>

        <div class="opcoes">
            <label class="opcao">
                <input type="radio" name="tipoPedido" value="viagem">
                <img src="@Url.Content("~/image/paraviagem.png")" alt="Para viagem">
                <span>Para viagem</span>
            </label>

            <label class="opcao">
                <input type="radio" name="tipoPedido" value="comerAqui">
                <img src="@Url.Content("~/image/comeraqui.png")" alt="Comer aqui">
                <span>Comer aqui</span>
            </label>
        </div>

        <button type="submit">Confirmar</button>
    </form>

    <div class="faixa-laranja"></div>
    <div class="faixa-verde"></div>
</div>