@{
    Layout = "_NomeLayout";
}
<div class="fundo">
    <img src="~/image/logos/logo-reduzido.png" alt="ADS Burguer" class="logo">
    <form class="formulario-cpf" action="/Home/telaCpf">
        <label for="cpf">Coloque o seu nome:</label>
        <input type="text" id="cpf" name="nome">
        <button type="submit">Confirmar</button>
    </form>

    <div class="faixa-laranja"></div>
    <div class="faixa-verde"></div>
</div>