@{
    Layout = "_OpcoesLayout";
}

    <!-- Cabeçalho com imagem -->
    <header>
        <img src="/image/banner-pag2.jpg" alt="Hambúrguer e batatas fritas">
    </header>

    <!-- Menu principal -->
    <main>
        <h2>Escolha uma das opções:</h2>
        <a href="/Home/telaPedidos">
        <div class="categories">
            <div class="category">
                <img src="/image/produtos_opc/produtos_opc/404 Not Found Burger.png" alt="Lanches">
                <p>Lanches</p>
               
            </div>
             </a>

            <a href="/Home/telaPedidos"> 
            <div class="category">
                <img src="/image/produtos_opc/copo de dell valle de laranja.png" alt="Bebidas">
                <p>Bebidas</p>
            </div>
            </a>

            <a href="/Home/telaPedidos">
            <div class="category">
                <img src="/image/produtos_opc/Combo Chiken Script.png" alt="Combos">
                <p>Combos</p>
            </div>
            </a>

            <a href="/Home/telaPedidos">
            <div class="category">
                <img src="/image/produtos_opc/Lambda Shake.png" alt="Sobremesas">
                <p>Sobremesas</p>
            </div>
            </a>

            <a href="/Home/telaPedidos">
            <div class="category">
                <img src="/image/produtos_opc/Array Verde.png" alt="Extras">
                <p>Extras</p>
            </div>
            </a>

            <a href="/Home/telaPedidos">
            <div class="category">
               <img src="/image/produtos_opc/promocao.png" alt="Promoções">
                <p>Promoções</p>
            </div>
            </a>
        </div>
    </main>
