@{
    Layout = "_CpfLayout";
}
<div class="fundo">
    <img src="~/image/logo-reduzido.png" alt="ADS Burguer" class="logo">
    <form class="formulario-cpf" action="/Home/telaTipoPedido">
        <label for="cpf">Coloque o CPF:</label>
        <input type="text" id="cpf" name="cpf">
        <div class="checkbox-area">
            <input type="checkbox" id="nota" name="nota">
            <label class="desejo" for="nota">Deseja colocar CPF na nota?</label>
        </div>
        <button type="submit">Confirmar</button>
    </form>

    <div class="faixa-laranja"></div>
    <div class="faixa-verde"></div>
</div>
