@{
    Layout = "_OpcoesLayout";
}

    <!-- Cabeçalho com imagem -->
    <header>
        <img src="/image/banner-pag2.jpg" alt="Hambúrguer e batatas fritas">
    </header>

    <!-- Menu principal -->
    <main>
        <h2>Escolha uma das opções:</h2>
        <div class="categories">
            <div class="category">
                <img src="/image/lanche.png" alt="Lanches">
                <p>Lanches</p>
            </div>
            <div class="category">
                <img src="/image/bebidas.png" alt="Bebidas">
                <p>Bebidas</p>
            </div>
            <div class="category">
                <img src="/image/combo.png" alt="Combos">
                <p>Combos</p>
            </div>
            <div class="category">
                <img src="/image/milkshake.png" alt="Sobremesas">
                <p>Sobremesas</p>
            </div>
            <div class="category">
                <img src="/image/extras.png" alt="Extras">
                <p>Extras</p>
            </div>
            <div class="category">
                <img src="/image/molhos.png" alt="Molhos">
                <p>Molhos</p>
            </div>
            <div class="category promo">
                <table>
                    <tr>
                        <td><p>Promoções</p></td>
                        <td><img src="/image/promocao.png" alt="Promoções"></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
