@{
    Layout = "_NomeLayout";
}
<div class="fundo">
    <img src="~/image/logo-reduzido.png" alt="ADS Burguer" class="logo">
<<<<<<< HEAD
    <form class="formulario-cpf" action="/Home/telaCpf">
        <label for="cpf">Coloque o seu nome:</label>
        <input type="text" id="cpf" name="nome">
=======

    <form class="formulario-cpf" action="/Home/telaCpf">
        <label for="cpf">Coloque o seu nome:</label>
        <input type="text" id="cpf" name="nome">

>>>>>>> e46a44b69153bb6a7735f37d51724ea6cd026064
        <button type="submit">Confirmar</button>
    </form>

    <div class="faixa-laranja"></div>
    <div class="faixa-verde"></div>
</div>