@{
    Layout = "_CpfLayout";
}
<div class="fundo">
    <img src="~/image/logos/logo-reduzido.png" alt="ADS Burguer" class="logo">

    <form class="formulario-cpf" id="formCpf">
        <label for="cpf">Coloque o CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" maxlength="14">
        
        <div class="checkbox-area">
            <input type="checkbox" id="nota" name="nota">
            <label class="desejo" for="nota">Deseja colocar CPF na nota?</label>
        </div>
        <button type="submit">Confirmar</button>
    </form>

    <!-- Aqui aparecerão as mensagens -->
    <div id="mensagem" class="mensagem-validacao"></div>

    <div class="faixa-laranja"></div>
    <div class="faixa-verde"></div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<!-- Script da validação -->
<script src="~/js/cpf-validador.js"></script>
