/* Modal Overlay */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-overlay.active {
    display: flex;
}

/* Estilos do Modal de Cupom */
.popup {
    width: 450px;
    overflow-x: hidden;
    background: white;
    padding: 30px 0px 0px 0px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    max-height: 90vh;
    overflow-y: auto;
}

.popup h2 {
    margin: 0 0 20px;
    font-size: clamp(8px, 4vw, 15px);
    color:#655959;
}

.popup input {
    width: 70%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    border:1px solid black;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.popup small {
    display: block;
    margin: 10px 0;
    color: #655959;
    font-family: 'Arial', sans-serif;
}

.popup button.confirmar {
    background: #d5f721;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 12px 30px;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-right-radius:15px;
    width: 45px;
    height: 45px;
    font-size: 27px;
    cursor: pointer;
}

.keyboard-container {
    background: #ddd;
    padding: 15px 10px;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100%;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    gap: 5px;
    width: 100%;
}

.key {
    background: white;
    border: none;
    border-radius: 12px;
    padding: 12px 0;
    min-width: 35px;
    max-width: 35px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.key.shift {
    background: #bbb;
    width: 50px;
    font-weight: bold;
}

.key.shift.active {
    color: blue;
}

.key.delete {
    background: #fff;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key.space {
    width: 94%;
    max-width: 100% !important;
    padding: 12px;
    font-size: 16px;
}

#row5 {
    justify-content: stretch;
    padding: 0 10px;
}

.keyboard-row.middle-offset {
    padding: 0 20px;
}

@media (max-width: 430px) {
    .popup {
        width: 95%;
    }

    .key {
        min-width: 28px;
        max-width: 28px;
        font-size: 14px;
    }

    .key.shift, .key.delete {
        width: 38px;
    }
}