@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: #fff;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.logo-banner {
    position: relative;
    width: 100%;
    height: 28vh; /* altura do banner ajustável */
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.logo-pagamento {
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: 7vh;
    height: auto;
    z-index: 2;
}

main {
    position: relative;
    background: #fff;
    border-radius: 30px 30px 0 0;
    padding: 3vh 4vw;
    margin-top: -2vh;
    z-index: 2;
    height: calc(100vh - 23vh); /* 100% - altura do banner visível */
    overflow-y: auto;
}

.pagamento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vh;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.preco-texto {
    font-size: 2rem;
    font-weight: bold;
    color: #5E5E5E;
}

.preco {
    color: #ff6600;
}

h2 {
    font-size: 29px;
    margin-bottom: 1vh;
    margin-right: 20vh;
    color: #5E5E5E;
}

.formas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    justify-items: center;
    width: 100%;
}

.forma {
    width: 15rem;
    height: 16rem;
    background: #f2f2f2;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.3s, background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forma img {
    width: 14rem;
    height: 14rem;
    margin-bottom: 0.8rem;
}

.forma span {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.forma.selecionado {
    border: 3px solid #ff6600;
    background-color: #fff4eb;
}

.confirmar {
    width: 90%;
    max-width: 950px;
    background-color: #ff6600;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 2vh;
}

.confirmar:hover {
    background-color: #e55b00;
}
