body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: white;
    overflow: hidden;
  }
  
  .fundo {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  
  /* Faixa Laranja fina no topo */
  .faixa-laranja {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: #FF5C00;
    z-index: 1;
  }
  
  /* Faixa verde com corte inclinado */
  .faixa-verde {
    position: absolute;
    top: 15px; /* abaixo da faixa laranja */
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #BCD84F;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 60% 85%, 0 90%);
  }
  
  /* Logo centralizada dentro da faixa verde */
  .logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 5;
  }
  
  /* Mensagem (caso queira exibir) */
  .mensagem {
    text-align: center;
    color: #FF5C00;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 280px;
    z-index: 10;
    position: relative;
  }
  
  /* Formulário CPF */
  .formulario-cpf {
    position: relative;
    z-index: 10;
    margin-top: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #676767;
  }
  
  .formulario-cpf label {
    font-weight: bold;
    font-size: 3.2rem;
  }

  .checkbox-area label.desejo {
    font-size: 1.5rem;
    margin-bottom: 1px;
  }
  

  .formulario-cpf input[type="text"] {
    margin-top: 50px;
    padding: 20px 15px;
    border: 2px solid #1d1d1d;
    border-radius: 35px;
    font-size: 2.5rem;
    outline: none;
    margin-bottom: 25px;
  }
  
  .checkbox-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2.7rem;
  }
  
.checkbox-area input[type="checkbox"] {
  transform: scale(2);
  margin-right: 15px;
  accent-color: #FF5C00; /* deixa a caixinha laranja */
  cursor: pointer;
}
  
  .formulario-cpf button {
    background-color: #FF5C00;
    color: white;
    border: none;
    padding: 20px 80px;
    border-radius: 35px;
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formulario-cpf button:hover {
    background-color: #e24e00;
  }
  